<div class='container jumbotron'>
  <div class='row'>
    <div class='col-4'></div>
    <div class='col-4'><h1>Eat-Da-Burger</h1></div>
    <div class='col-4'></div>
  </div>
  <div class='row'>
    <div class="col-6"> 
      <h2>Burgers to Eat</h2>
        <ul class='list-unstyled'>
          {{#each burgers}} 
            {{#unless eaten}}
            <li>
              {{this.name}}
              <form action="burgers/updateOne{{this.id}}?_method=PUT" method="POST">
                <input type='hidden' name='eaten' value='1'>
                <button type='submit' class="btn btn-default">EAT</button>
              </form>
            </li>
            {{/unless}} {{/each}}
        </ul>
    </div>
    <div class="col-6">
      <h2>Burgers that have been consumed!</h2>

      <ul class='list-unstyled'>
        {{#each burgers}} 
          {{#if eaten}} 
          <li>
            {{this.name}}
            <form action="burgers/updateOne{{this.id}}?_method=PUT" method="POST">
              <input type='hidden' name='eaten' value='0'>
              <button type='submit' class="btn btn-default">No thanks</button>
            </form>
          </li>
          {{/if}} 
        {{/each}}
      </ul>
    </div>
  </div?>
  <div class='row'></div>
    <h2>Add a Burger</h2> 
    <form class="create-form" method="POST" action="burgers/createOne">
      <div class="form-group">
        <input type="text" id="burg" name="name">
      </div>
      <button type="submit" class="btn btn-default">Add Burger</button>
    </form>
  </div>
</div>